.search-results-page {
  min-height: 100vh;
  padding: 20px 40px;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.results-header p {
  color: white;
  font-size: 40px;
}

.backBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.backBtn:hover {
  background-color: blue;
  color: white;
}

.filters {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  gap: 20px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.user-card {
  background-color: transparent;
  border: 2px solid #1e90ff;
  border-radius: 10px;
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.user-card:hover {
  transform: translateY(-5px);
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card .username {
  color: #1e90ff;
  font-size: 20px;
}

.user-card .profession {
  font-size: 18px;
  color: white;
}

.user-card .likes {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .search-results-page {
    padding: 10px 15px;
  }

  .results-header {
    margin-bottom: 5px;
  }

  .results-header p {
    font-size: 1.6rem;
    text-align: center;
  }

  .backBtn {
    padding: 5px 13px;
    font-size: 14px;
  }

  .filters {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .results-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }

  .user-card {
    padding: 15px 10px;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .results-header p {
    font-size: 2rem;
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .results-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
