@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: black;
  color: #1e90ff; 
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: rgb(168, 168, 168);
  cursor: pointer;
}